<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="-1">

<title>LenaVeller</title>

<meta name="description" content="Insert Your Site Description" />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Header -->
<header>
    <div class="sticky-nav">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

        <div id="logo">
            <!--<a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>-->
        </div>

        <nav id="menu">
            <ul id="menu-nav">
                <li class="current"><a href="#home-slider">Главная</a></li>
                <li><a href="#work">Работы</a></li>
                <li><a href="#about">Условия</a></li>
                <li><a href="#contact">Контакты</a></li>
                <!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->
            </ul>
        </nav>
    </div>
</header>
<!-- End Header -->

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay"></div>

    <div class="slider-text">
        <div id="slidecaption"></div>
    </div>

    <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>

        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <!--<div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Work</h2>
                    <h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3>
                </div>
            </div>
        </div>-->
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                        <!--<li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>-->
                        <li><a href="#filter" data-option-value=".kids" class="selected">Детская</a></li>
                        <li><a href="#filter" data-option-value=".fam">Семейная</a></li>
                        <li><a href="#filter" data-option-value=".preg">Беременность</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>

            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">

                            <!-- KIDS -->

                        	<li class="item-thumbs span3 kids">
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_01.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_01.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_02.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_02.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_03.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_03.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_04.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_04.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_05.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_05.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_06.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_06.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_07.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_07.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_08.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_08.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_09.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_09.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_10.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_10.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 kids">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/kids_11.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/kids_11.jpg" alt="">
                            </li>

                            <!-- FAM -->

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_01.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_01.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_02.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_02.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_03.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_03.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_04.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_04.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_05.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_05.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_06.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_06.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_07.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_07.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 fam">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/fam_08.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/fam_08.jpg" alt="">
                            </li>


                            <!-- PREG -->

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_01.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_01.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_02.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_02.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_03.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_03.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_04.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_04.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_05.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_05.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_06.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_06.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_07.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_07.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_08.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_08.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_09.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_09.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_10.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_10.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_11.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_11.jpg" alt="">
                            </li>

                            <li class="item-thumbs span3 preg">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="_include/img/work/full/preg_12.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/preg_12.jpg" alt="">
                            </li>


                            <!--<li class="item-thumbs span3 video">
                                &lt;!&ndash; Fancybox Media - Gallery Enabled - Title - Link to Video &ndash;&gt;
                            	<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/50834315">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <img src="_include/img/work/thumbs/image-09.jpg" alt="Video">
                            </li>-->


                        </ul>
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
<!--    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Условия</h2>
                <h3 class="title-description">Learn About our Team &amp; Culture.</h3>
            </div>
        </div>
    </div>-->
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span4 profile">
            <h3 class="profile-name">пакет "Стандартный"</h3>
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">480 грн</span>
                </div>
                <img src="_include/img/profile/profile-01.jpg" alt="">
            </div>
            <p class="profile-description">
                <ul>
                    <li>Фотосет продолжительностью 1.5-2 часа;</li>
                    <li>40 фотографий (20 фото в авторской обработке с детальной ретушью + 20 фото с базовой ретушью, кадрированием и цветокоррекцией);</li>
                    <li>web-версии отретушированных фотографий, для размещения в сети Интернет;</li>
                    <li>миниатюры всех удачных кадров;</li>
                    <li>время ожидания готового результата — до 3х недель.</li>
                </ul>
            </p>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
    	<div class="span4 profile">
            <h3 class="profile-name">пакет "Ваш Праздник"</h3>
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">300 грн/час <br>(2 часа и более - 240грн/час)</span>
                </div>
                <img src="_include/img/profile/profile-02.jpg" alt="">
            </div>
            <p class="profile-description">
                <ul>
                    <li>Распространяется на съемку праздников, Дней рождений, корпоративов;</li>
                    <li>около 50-100 удачных кадров с базовой ретушью, кадрированием и цветокоррекцией;</li>
                    <li>время ожидания готового результата — до 2х недель.</li>
                </ul>
            </p>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
    	<div class="span4 profile">
            <h3 class="profile-name">пакет "Свадебный День"</h3>
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">2200 грн</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="">
            </div>
            <p class="profile-description">
                <ul>
                    <li>Съемка от сборов невесты до разрезания свадебного торта;</li>
                    <li>40 фото в авторской обработке с детальной ретушью + около 200 фото с базовой ретушью, кадрированием и цветокоррекцией;</li>
                    <li>время ожидания готового результата — до 4х недель.</li>
                </ul>
            </p>
        </div>
        <!-- End Profile -->

            <div class="span12">
                <h3 class="title-description">Важная информация:</h3>
                <p class="profile-description">
                    <ul>
                        <li>Цены указаны для г.Киева и Одессы (съемку в другом городе просчитаю по запросу).</li>
                        <li>Мне важно делать качественные фотографии и радовать Вас и потенциальных заказчиков своей работой.
                            Я постоянно развиваюсь и пополняю портфолио. Мне крайне важно разрешение на публикацию Ваших
                            фотографий. Поэтому, прошу сообщать заранее о Вашем желании сохранить конфиденциальность т.к. это
                            увеличивает стоимость на 50%.</li>
                        <li>Аренда студии оплачивается Клиентом отдельно (согласно тарифам выбранной студии).</li>
                        <li>Исходники в формате RAW я не передаю - это защита моего авторского права;</li>
                        <li>Возможен заказ визажиста за дополнительную плату</li>
                        <li>Пакеты оплачиваются в день съемки в 100% размере</li>
                    </ul>
                </p>
            </div>

    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->


<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    
    <!-- Contact -->
    <div class="page">
        <div class="span12">
        	<div class="text_align_center">
                <br><br>
                <img src="_include/img/contact/contact.jpg" alt="">
                <br><br>
                <h4>https://vk.com/elena_veller</h4>
                <h4>Киев, Одесса</h4>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <!-- End Contact -->
</div>
</div>
<!-- End Contact Section -->

<!-- Footer -->
<footer>
	<p class="">&copy;2014</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>